<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>
        <body>
            <h2>Reset your password</h2>
            <h5>Use the below values to reset your password</h5>
            <p>Email: {{ .Email }}</p>
            <p>Code: {{ .Code }}</p>
            <a href="http://localhost:3000/user/reset">Reset Password</a>
        </body>
</html>